<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Communal Corporate Category Flat Bootstrap Responsive Website Template | Typography :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Communal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->

    <!-- side nav css file -->
    <link href='css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- //side nav css file -->
    <!-- web fonts -->
    <!-- logo -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
    <!--//web fonts-->

</head>

<body class="cbp-spmenu-push">
    <div class="main-content">
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <!--left-fixed -navigation-->
            <aside class="sidebar-left">
                <h1>
                    <a href="index.html" class="logo">
                        communal
                    </a>
                </h1>
                <ul class="sidebar-menu">
                    <li class="treeview">
                        <a href="index.html">
                            <i class="fas fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="about.html">
                            <i class="fas fa-info"></i>
                            <span>About</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="services.html">
                            <i class="fab fa-servicestack"></i>
                            <span>Services</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="portfolio.html">
                            <i class="fab fa-buromobelexperte"></i>
                            <span>Portfolio</span>
                        </a>
                    </li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fas fa-plus"></i>
                            <span>Dropdown</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="team.html">
                                    <i class="fa fa-angle-right"></i>Team</a>
                            </li>
                            <li>
                                <a href="testi.html">
                                    <i class="fa fa-angle-right"></i>Testimonials</a>
                            </li>
                            <li class="active">
                                <a href="typo.html">
                                    <i class="fa fa-angle-right"></i>Typography</a>
                            </li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="contact.html">
                            <i class="fas fa-address-book"></i>
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
                <button type="button" class="btn btn-info btn-lg btn-block mt-5 w3ls-btn p-1 text-uppercase font-weight-bold" data-toggle="modal"
                    aria-pressed="false" data-target="#exampleModal">
                    Login
                </button>
            </aside>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <header class="header-section">
        <div class="header-left  clearfix">
            <!--logo start-->
            <div class="brand">
                <button id="showLeftPush">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <!--logo end-->
        </div>
        <div class="header-right">
        </div>
    </header>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">typography</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->
        <!-- </h5> -->
        <section class="wthree-row pt-3 pb-5 w3-</h5>">
            <div class="container py-sm-5 py-3">
                <!-- section title -->
                <h3 class="agile-title">Typography</h3>
                <span class="w3-line"></span>
                <!-- //section title -->
                <div class="pb-5 typo-wthree">
                    <h4 class="pt-4 pb-3">Flex</h4>
                    <div class="d-flex p-2 bg-flex mb-1">I'm a flexbox container!</div>
                    <div class="d-inline-flex p-2 bg-flex mb-1">I'm an inline flexbox container!</div>
                    <h5 class="pt-4 pb-3">Flex row</h5>
                    <div class="d-flex flex-row bg-flex">
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 1</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 2</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 3</div>
                    </div>
                    <h5 class="pt-4 pb-3">Flex row-reverse</h5>
                    <div class="d-flex flex-row-reverse bg-flex">
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 1</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 2</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 3</div>
                    </div>
                    <h5 class="pt-4 pb-3">Flex column</h5>
                    <div class="d-flex flex-column bg-flex">
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 1</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 2</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 3</div>
                    </div>
                    <h5 class="pt-4 pb-3">Flex column-reverse</h5>
                    <div class="d-flex flex-column-reverse bg-flex">
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 1</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 2</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 3</div>
                    </div>
                    <h4 class="pt-5 pb-3">Justify Content</h4>
                    <h5 class="pt-4 pb-3">Justify Content Start</h5>
                    <div class="d-flex justify-content-start bg-flex mb-3">
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 1</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 2</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 3</div>
                    </div>
                    <h5 class="pt-4 pb-3">Justify Content End</h5>
                    <div class="d-flex justify-content-end bg-flex mb-3">
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 1</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 2</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 3</div>
                    </div>
                    <h5 class="pt-4 pb-3">Justify Content Center</h5>
                    <div class="d-flex justify-content-center bg-flex mb-3">
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 1</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 2</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 3</div>
                    </div>
                    <h5 class="pt-4 pb-3">Justify Content Between</h5>
                    <div class="d-flex justify-content-between bg-flex mb-3">
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 1</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 2</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 3</div>
                    </div>
                    <h5 class="pt-4 pb-3">Justify Content Around</h5>
                    <div class="d-flex justify-content-around bg-flex mb-3">
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 1</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 2</div>
                        <div class="p-2 bg-flex mb-1 bg-flex-item">Flex item 3</div>
                    </div>
                    <h4 class="pt-4 pb-3"> Align items</h4>
                    <h5 class="pt-4 pb-3">Align Items Start</h5>

                    <div class="d-flex align-items-start  bg-flex mb-3" style="height: 100px">
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                    </div>
                    <h5 class="pt-4 pb-3">Align Items End</h5>

                    <div class="d-flex align-items-end  bg-flex mb-3" style="height: 100px">
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                    </div>
                    <h5 class="pt-4 pb-3">Align Items Center</h5>

                    <div class="d-flex align-items-center  bg-flex mb-3" style="height: 100px">
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                    </div>
                    <h5 class="pt-4 pb-3">Align Items Baseline</h5>

                    <div class="d-flex align-items-baseline  bg-flex mb-3" style="height: 100px">
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                    </div>
                    <h5 class="pt-4 pb-3">Align Items Strech</h5>

                    <div class="d-flex align-items-stretch  bg-flex" style="height: 100px">
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                        <div class="p-2  bg-flex-item">Flex item</div>
                    </div>
                    <h4 class="mt-5 mb-3">Lists</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="pt-4 pb-3">List Group</h5>
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 class="pt-4 pb-3">Active items</h5>
                            <ul class="list-group">
                                <li class="list-group-item active">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                        <div class="col-md-6 my-3">
                            <h5 class="pt-4 pb-3">Disabled items</h5>
                            <ul class="list-group">
                                <li class="list-group-item disabled">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                        <div class="col-md-6 my-3">
                            <h5 class="pt-4 pb-3">Flush</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 class="pt-4 pb-3">Contextual Classes</h5>
                            <ul class="list-group">
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item list-group-item-primary">This is a primary list group item</li>
                                <li class="list-group-item list-group-item-secondary">This is a secondary list group item</li>
                                <li class="list-group-item list-group-item-success">This is a success list group item</li>
                                <li class="list-group-item list-group-item-danger">This is a danger list group item</li>
                                <li class="list-group-item list-group-item-warning">This is a warning list group item</li>
                                <li class="list-group-item list-group-item-info">This is a info list group item</li>
                                <li class="list-group-item list-group-item-light">This is a light list group item</li>
                                <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
                            </ul>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-4">
                            <h5 class="pt-4 pb-3">With Badges</h5>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Cras justo odio
                                    <span class="badge badge-primary badge-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Dapibus ac facilisis in
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Morbi leo risus
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="pt-4 pb-3 mt-sm-5 mt-3">Color</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="my-4">Text color</h5>
                            <p class="text-primary mb-2">.text-primary</p>
                            <p class="text-secondary mb-2">.text-secondary</p>
                            <p class="text-success mb-2">.text-success</p>
                            <p class="text-danger mb-2">.text-danger</p>
                            <p class="text-warning mb-2">.text-warning</p>
                            <p class="text-info mb-2">.text-info</p>
                            <p class="text-light bg-dark mb-2">.text-light</p>
                            <p class="text-dark mb-2">.text-dark</p>
                            <p class="text-muted mb-2">.text-muted</p>
                            <p class="text-white bg-dark">.text-white</p>
                        </div>
                        <div class="col-md-6">
                            <h5 class="my-4">Anchors with the provided hover and focus states.</h5>
                            <p>
                                <a href="#" class="text-primary">Primary link</a>
                            </p>
                            <p class="mb-2">
                                <a href="#" class="text-secondary">Secondary link</a>
                            </p>
                            <p class="mb-2">
                                <a href="#" class="text-success">Success link</a>
                            </p>
                            <p class="mb-2">
                                <a href="#" class="text-danger">Danger link</a>
                            </p>
                            <p class="mb-2">
                                <a href="#" class="text-warning">Warning link</a>
                            </p>
                            <p class="mb-2">
                                <a href="#" class="text-info">Info link</a>
                            </p>
                            <p>
                                <a href="#" class="text-light bg-dark">Light link</a>
                            </p>
                            <p class="mb-2">
                                <a href="#" class="text-dark">Dark link</a>
                            </p>
                            <p class="mb-2">
                                <a href="#" class="text-muted">Muted link</a>
                            </p>
                            <p>
                                <a href="#" class="text-white bg-dark">White link</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //typo container -->
        </section>
        <!-- //typo section ends here -->
        <!-- footer -->
        <div class="footer py-md-5 pt-sm-3 pb-sm-5">
            <div class="container">
                <div class="row p-sm-5 px-3 py-5">
                    <!-- footer grid top -->
                    <div class="col-lg-8">
                        <div class="footer-top">
                            <h2>
                                <a href="index.html">communal
                                </a>
                            </h2>
                            <p class="mt-2">Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius
                                orci.
                            </p>
                        </div>
                        <!-- //footer grid top -->
                        <!-- footer-bottom -->
                        <div class="footer-bottom pt-5">
                            <div class="row">
                                <!-- footer grid1 -->
                                <div class="col-sm-4 footv3-left">
                                    <h3 class="mb-3 w3f_title">Navigation</h3>
                                    <ul class="list-agileits">
                                        <li>
                                            <a href="index.html">
                                                Home
                                            </a>
                                        </li>
                                        <li class="my-3">
                                            <a href="about.html">
                                                About Us
                                            </a>
                                        </li>
                                        <li class="mb-3">
                                            <a href="services.html">
                                                Services
                                            </a>
                                        </li>
                                        <li>
                                            <a href="contact.html">
                                                Contact Us
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //footer grid1 -->
                                <!-- footer grid2 -->
                                <div class="col-sm-4  footv3-left my-sm-0 my-5">
                                    <h3 class="mb-3 w3f_title">Support Links</h3>
                                    <ul class="list-agileits">
                                        <li>
                                            <a href="index.html">
                                                Link One
                                            </a>
                                        </li>
                                        <li class="my-3">
                                            <a href="about.html">
                                                Link Two
                                            </a>
                                        </li>
                                        <li class="mb-3">
                                            <a href="services.html">
                                                Link Three
                                            </a>
                                        </li>
                                        <li>
                                            <a href="contact.html">
                                                Link Four
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //footer grid2 -->
                                <!-- footer grid3 -->
                                <div class="col-sm-4 footv3-left">
                                    <h3 class="w3f_title mb-3">New Releases</h3>
                                    <ul class="list-agileits">
                                        <li>
                                            <a href="index.html">
                                                Link One
                                            </a>
                                        </li>
                                        <li class="my-3">
                                            <a href="about.html">
                                                Link Two
                                            </a>
                                        </li>
                                        <li class="mb-3">
                                            <a href="services.html">
                                                Link Three
                                            </a>
                                        </li>
                                        <li>
                                            <a href="contact.html">
                                                Link Four
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //footer grid3 -->
                            </div>
                        </div>
                        <!-- //footer bottom -->
                    </div>
                    <!-- //footer bottom -->
                    <!-- footer right -->
                    <div class="col-lg-4 mt-lg-0 mt-5">
                        <h3 class="mb-3 w3f_title">Contact Us</h3>
                        <div class="fv3-contact">
                            <span class="fas fa-envelope-open mr-2"></span>
                            <p>
                                <a href="mailto:example@email.com">info@example.com</a>
                            </p>
                        </div>
                        <div class="fv3-contact my-3">
                            <span class="fas fa-phone-volume mr-2"></span>
                            <p>+456 123 7890</p>
                        </div>
                        <div class="footerv2-w3ls pt-4">
                            <h3 class="w3f_title">Socialize with Us</h3>
                            <ul class="social-iconsv2 agileinfo pt-3">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //footer right -->
                </div>
                <!-- //footer row -->
            </div>
            <!-- copyright -->
            <div class="cpy-right text-center pb-sm-0 pb-5">
                <p>© 2018 Communal. All rights reserved | Design by
                    <a href="http://w3layouts.com"> W3layouts.</a>
                </p>
            </div>
            <!-- //copyright -->
            <!-- //footer container -->
        </div>
        <!-- //footer -->
        <!-- login and register modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="images/modal.jpg" alt="" class="img-fluid" />
                        <form action="#" method="post" class="p-3">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Username</label>
                                <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-form-label">Password</label>
                                <input type="password" class="form-control" placeholder=" " name="Password" id="password" required="">
                            </div>
                            <div class="right-w3l">
                                <input type="submit" class="form-control" value="Login">
                            </div>
                            <div class="row sub-w3l my-3">
                                <div class="col sub-agile">
                                    <input type="checkbox" id="brand1" value="">
                                    <label for="brand1" class="text-dark">
                                        <span></span>Remember me?</label>
                                </div>
                                <div class="col forgot-w3l text-right">
                                    <a href="#" class="text-dark">Forgot Password?</a>
                                </div>
                            </div>
                            <p class="text-center dont-do">Don't have an account?
                                <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark">
                                    Register Now</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="images/modal.jpg" alt="" class="img-fluid" />
                        <form action="#" method="post" class="p-3">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Username</label>
                                <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-rname" required="">
                            </div>
                            <div class="form-group">
                                <label for="recipient-email" class="col-form-label">Email</label>
                                <input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
                            </div>
                            <div class="form-group">
                                <label for="password1" class="col-form-label">Password</label>
                                <input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
                            </div>
                            <div class="form-group">
                                <label for="password2" class="col-form-label">Confirm Password</label>
                                <input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
                            </div>
                            <div class="sub-w3l">
                                <div class="sub-agile">
                                    <input type="checkbox" id="brand2" value="">
                                    <label for="brand2" class="mb-3 text-dark">
                                        <span></span>I Accept to the Terms & Conditions</label>
                                </div>
                            </div>
                            <div class="right-w3l">
                                <input type="submit" class="form-control" value="Register">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //login and register modal -->
    </div>
    <!-- js-->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- js-->
    <!-- for toggle left push menu script -->
    <script src="js/classie.js "></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };


        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!-- //Classie -->
    <!-- //for toggle left push menu script -->
    <!-- side nav js -->
    <script src='js/SidebarNav.min.js'></script>
    <script>
        $('.sidebar-menu').SidebarNav()
    </script>
    <!-- //side nav js -->
     <!-- script for password match -->
     <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js "></script>
    <script src="js/easing.js "></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll ").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
             var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear' 
             };
             */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="js/SmoothScroll.min.js "></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js ">
    </script>
    <!-- //Bootstrap Core JavaScript -->

</body>

</html>